
@model SearchGalleryModel



@{
    ViewData["Title"] = "Explore Exhibitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">This button is to go to the maps page</div>

    <a class="nav-link text-light" asp-area="" asp-controller="VisitUs" asp-action="VisitUs">Google Maps</a>*@

<div class="container" style="background-color: #838383; height:1px; margin-top: 45px; margin-bottom:20px"></div>

<h1>@ViewData["Title"]</h1>




@{ if (ViewData["error"] != null && ViewData["error"] != "")
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Please Choose either a Theme Type or put something in the search bar!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<form class="">

    <div class="form-group form-inline mb-2" style="margin-bottom: 20px;">

        @*<select class="form-control form-control-sm mx-sm-3 mb-2" id="selectType" name="searchType" hidden>
            <option value="0">Theme Type</option>
            <option value="1">Color</option>
            <option value="2">Age</option>
            <option value="3">Artist</option>
            <option value="4">Art Type</option>
            <option value="5">Genre</option>
            <option value="6">Other</option>
            <option value="7">Gallery</option>
        </select>*@

        <select class="form-control form-control-sm mx-sm-3 mb-2" id="selectType" name="searchType" hidden>
            <option value="0">Theme Type</option>
            <option value="1">Mediums</option>
            <option value="2">Art Movements</option>
            <option value="3">Locations</option>
            <option value="4">Colour</option>
            <option value="5">Period</option>
            <option value="6">Other</option>
            <option value="7">Artist</option>
            <option value="8">Gallery</option>
        </select>

        <div class="container" style="position: relative">
            <button type="button" class="btn text-center align-middle" style="position: absolute; background-color: #f3f3f3; border-radius: 0; z-index: 1; height: 52px; opacity: 0.8; border:none; cursor: auto" id="scrollLeft"><i class="align-middle fa fa-chevron-left" style="color: grey; align-content: center;"></i></button>
            <button type="button" class="btn text-center align-middle" style="position: absolute; right:0; background-color: #f3f3f3; border-radius: 0; z-index: 1; height: 52px; opacity: 0.8; cursor: auto" id="scrollRight"><i class="fa fa-chevron-right" style="color: grey"></i></button>

            <div class="scrolling-wrapper" id="themeType" style="width:100%; overflow: auto">

                @*<a onclick="setButtonClicked(3)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT3" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius:0;">
                <img class="img-responsive" src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span style="line-height: 50px">Artist</span>
            </div>
        </a>


        <a onclick="setButtonClicked(7)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT7" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span class="" style="line-height: 50px">Gallery</span>
            </div>
        </a>

        <a onclick="setButtonClicked(1)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT1" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">

                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span class="" style="line-height: 50px">Color</span>

            </div>
        </a>


        <a onclick="setButtonClicked(2)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT2" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span style="line-height: 50px">Age</span>
            </div>
        </a>



        <a onclick="setButtonClicked(4)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT4" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span class="" style="line-height: 50px">Art Type</span>
            </div>
        </a>

        <a onclick="setButtonClicked(5)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right  my-auto" id="TT5" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0">
                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span class="" style="line-height: 50px">Genre</span>
            </div>
        </a>

        <a onclick="setButtonClicked(6)">
            <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT6" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                <span class="" style="line-height: 50px">Other</span>
            </div>
        </a>*@

                <a onclick="setButtonClicked(7)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT7" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius:0;">
                        <img class="img-responsive" src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span style="line-height: 50px">Artist</span>
                    </div>
                </a>


                <a onclick="setButtonClicked(8)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT8" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Gallery</span>
                    </div>
                </a>

                <a onclick="setButtonClicked(1)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT1" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">

                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Medians</span>

                    </div>
                </a>


                <a onclick="setButtonClicked(2)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT2" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span style="line-height: 50px">Art Movements</span>
                    </div>
                </a>



                <a onclick="setButtonClicked(3)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT3" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Locations</span>
                    </div>
                </a>

                <a onclick="setButtonClicked(4)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right  my-auto" id="TT4" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Colour</span>
                    </div>
                </a>

                <a onclick="setButtonClicked(5)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT5" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Period</span>
                    </div>
                </a>

                <a onclick="setButtonClicked(6)">
                    <div class="card themeTypeCard col-sm-3 align-middle border-left-0 rounded-right my-auto" id="TT6" style="border-width: 1px !important; border-color: darkgrey; margin-right: 10px; border-radius: 0;">
                        <img src="~/Imgs/dropDown.jpg" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />
                        <span class="" style="line-height: 50px">Other</span>
                    </div>
                </a>

            </div>

            <div class="input-group" style="margin-top: 15px; width:100%">
                <input type="text" class="form-control" id="inlineFormInputGroup" name="searchTheme" placeholder="Theme / Artist / Gallery Search" style="border: none; border-radius: 0;background-color:#f3f3f3">
                <span class="input-group-btn" style="background-color:#f3f3f3">
                    <button asp-controller="SearchGallery" asp-action="getList" class="btn" style="background-color: #f3f3f3; border-radius: 0"><i class="fa fa-search" style="color: grey"></i></button>
                </span>
            </div>
        </div>

        @*<button asp-controller="SearchGallery" asp-action="getList" class="btn btn-primary btn-sm mx-sm-3 mb-2">Search</button>*@
    </div>

    <div>
        <small id="searchHelp" class="form-text text-muted">Use either the quick search button to get the most up to date art pieces or search by theme!</small>
    </div>

</form>




@{
    if (ViewData["Pieces"] != null && ViewData["Pieces"] != "")
    {
        var Pieces = ViewData["Pieces"] as List<CollectionsImg>;

        <div class="container" style="background-color: #838383; height:1px; margin-top: 45px; margin-bottom:20px"></div>
        @*<div class="panel-body col-xs-8 col-sm-6 col-lg-8">*@
        <div class="card-columns" style="margin-top: 15px; border: none">


            @foreach (CollectionsImg img in Pieces)
            {

                <div class="card artPieceCard" style="border:none">
                    <a asp-controller="ArtPiece" asp-action="Index" asp-route-imageID="@img.ImgId" value="@img.ImgId">
                        <img src=@img.ImgLocation class="card-img-top " alt="Responsive image" style="border-radius: 1.3rem">
                    </a>
                    <div class="card-body">
                        @*<h5 class="card-title">@img.Artist</h5>*@
                        <p class="card-text" style="color: rgba(161,36,18, 0.9); font-size: 0.8em; margin-bottom:0; font-weight:600">@img.Name</p>
                        <p class="card-text" style="color: #202020; font-size: 1em;margin-bottom:0; font-weight:bold">@img.GalleryName</p>
                        @*<p class="card-text" style="color: #838383; font-size: 0.8em; height: 20px; overflow: hidden; font-weight:600">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <p class="card-text" style="color: #838383; font-size: 0.8em; height: 20px; overflow: hidden; font-weight:600">@img.Description</p>
                        @*<a class="btn btn-secondary btn-sm" asp-controller="SearchGallery" asp-action="testImgId" asp-route-id="@img.ImgId" value="@img.ImgId">More Info</a>*@
                    </div>

                </div>

            }

        </div>
    }

    if (ViewData["Count"] != null && ViewData["Count"] != "")
    {
        <div class="alert alert-info  alert-dismissible fade show" role="alert">
            No Art Found!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }



}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#scrollLeft").mouseover(function () {
            console.log("hit me");

            var maxscroll = $("#themeType").width();
            var speed = maxscroll * 5;

            //speed = -Math.abs(speed);

            console.log(speed);

            $("#themeType").animate({
                scrollLeft: 0
            }, speed, "linear");
        });

         $("#scrollLeft").mouseout(function() {
            $("#themeType").stop();    
        });

         //for stuff that scrolls left on hover
        $("#scrollRight").mouseover(function () {
            console.log("hit me");

            var maxscroll = $("#themeType").width();
            var speed = maxscroll * 5;
            $("#themeType").animate({
                scrollLeft: maxscroll
            }, speed, "linear");
        });

        $("#scrollRight").mouseout(function() {
            $("#themeType").stop();    
        });



    });

     var oldButtonId = 0;
    /* Script will update the filename on the page upon selecting an image */
    function setButtonClicked(tt) {

        //alert(document.getElementById("themeType").getAttribute('value'));

        var themeTypeName = "TT" + tt;



        if (oldButtonId != 0) {

            var oldThemeTypeName = "TT" + oldButtonId;

            document.getElementById(oldThemeTypeName).style.backgroundColor = "white";
            document.getElementById(oldThemeTypeName).style.color = "black";
            document.getElementById(oldThemeTypeName).style.opacity = "1";

        }

        oldButtonId = tt;

        //$('#TT1').css('background-color', 'darkcyan');

        document.getElementById(themeTypeName).style.backgroundColor = "rgba(161,36,18, 0.9)";
        document.getElementById(themeTypeName).style.color = "white";


        document.getElementById("selectType").value = tt;

        //alert(document.getElementById("themeType").getAttribute('value'));


        //$(themeTypeName).css({ "background-color": "darkcyan !important", "color":"white !important" });
        // $(themeTypeName).css("color", "white !important");

        oldButtonId = tt;

        //setThemeType(tt);

    }


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
