@model Oeuvre.Models.GalleryDisplay

@{
    ViewData["Title"] = "Details";
}

<h1></h1>


<div class="row" style="border-top:solid;margin-top:30px;margin-bottom:30px;border-color:lightgray">
    <div class="col-xs-12 col-md-8" style="margin-top:30px">
        <h2>@Html.DisplayFor(model => model.GalleryName)</h2>
        <div class="text-dark">@Html.DisplayFor(model => model.GalleryDescription)</div>

    </div>
    
    <div class="col-md-2" style="margin-top:30px"></div>
    <div class="col-xs-6 col-md-2" align="left" style="margin-top:30px">
        <a class="btn btn-outline-secondary " style="        width: 150px;
        font-weight: bold;
        margin-bottom: 60px" href="https://www.google.com/maps/dir//@Html.DisplayFor(model => model.GalleryName)" target="_blank">Visit</a>
        <div style="color:#757575;font-size:90%;">@Html.DisplayFor(model => model.PhoneNumber) </div>
        <div style="color:#757575;font-size:90%;"> @Html.DisplayFor(model => model.Address)</div>
        <div style="color:#757575;font-size: 90%;"> @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.Province)</div>
        <div style="color:#757575;font-size: 90%;">  @Html.DisplayFor(model => model.PostalCode)</div>

    </div>
</div>
   

<div style="        border-top: solid;
        border-color: lightgray;
        margin-bottom: 30px"></div>
@{
    

        @*<div class="panel-body col-xs-8 col-sm-6 col-lg-8">*@
        <div class="card-columns" style="margin-top: 15px;">


            @foreach (var img in Model.Images)
            {


                <div class="card">
                    <a asp-action="Index" asp-controller="ArtPiece" asp-route-imageID="@img.ImgId">
                        <img src=@img.ImgLocation class="card-img-top" alt="Responsive image">
                    </a>
                        <div class="card-body">
                        
                    </div>

                </div>

            }

        </div>
    }

    



<div>
    <a asp-action="Edit" asp-route-id="@Model.GalleryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
